---
import { Image } from "astro:assets"
import imgBurger from "../assets/images/burger.png"
import imgTiktok from "../assets/images/tiktok.png"
import imgWhatsapp from "../assets/images/whatsapp.png"
import imgFacebook from "../assets/images/facebook.png"
import imgInstagram from "../assets/images/instagram.png"
---

<div class="navbar bg-transparent text-white px-10 absolute z-10 top-0">
  <div class="navbar-start hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/">Inicio</a></li>
      <li><a href="/services">Servicios</a></li>
      <li><a href="/gallery">Galería</a></li>
      <li><a href="/about">Quiénes Somos</a></li>
    </ul>
  </div>
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-md btn-circle border-0 shadow-none bg-black/50 p-2 lg:hidden">
        <Image src={imgBurger} alt="menú"/>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-black/50 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a href="/">Inicio</a></li>
        <li><a href="/services">Servicios</a></li>
        <li><a href="/gallery">Galería</a></li>
        <li><a href="/about">Quiénes Somos</a></li>
      </ul>
    </div>
  </div>

  <div class="navbar-end flex gap-2">
		<button class="btn btn-md btn-circle border-0 shadow-none bg-black/50 hover:scale-110 transition-transform">
			<Image class="p-2" src={imgTiktok} alt="tiktok">
		</button>
		<button class="btn btn-md btn-circle border-0 shadow-none bg-black/50 hover:scale-110 transition-transform">
			<Image class="p-2" src={imgWhatsapp} alt="whatsapp">
		</button>
		<button class="btn btn-md btn-circle border-0 shadow-none bg-black/50 hover:scale-110 transition-transform">
			<Image class="p-2" src={imgFacebook} alt="facebook">
		</button>
		<button class="btn btn-md btn-circle border-0 shadow-none bg-black/50 hover:scale-110 transition-transform">
			<Image class="p-2" src={imgInstagram} alt="instagram">
		</button>
	</div>
</div>